*{
    padding: 0;
    margin: 0;

}
 body{
    background-color: rgba(246, 210, 145,0.5);
 }
#t1{
height: 100px;
width: 100px;
background-color:aqua;
position:fixed;
top:35vh;
left:45vw;
scale: 1.5;
z-index:2;
transition: all 0.5s ease-in 0s;
display: flex;
justify-content: center;
align-items: center;
}
#t2,#t3,#t4,#t5{
    height: 100px;
    width: 100px;
    background-color:yellowgreen;
    position:fixed;
    top:35vh;
    left:45vw;
    transition: all 2s normal 0.5s;
    scale:1.25;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
a{
    text-decoration: none;
    cursor: pointer;
}


    #btn{
        position:fixed;
        top:10px;
        left:10px;
        height: 50px;
        width:50px;
        background-color: rgb(145, 251, 251);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        z-index: 4;
    }
 .more{
    height:100vh;
    width:25vw;
    background-color:black;
    position: relative;
    z-index: 3;
    left: -25vw;
    transition: all 0.5s ease-in 0s;
 }
 #t2{
    transform:translateX(150px);
}
#t3{
    transform:translateX(-150px);
}
#t4{
    transform:translateY(150px);
}
#t5{
    transform:translateY(-150px);
}
#lightBox{
    height: 50vh;
    width: 50vw;
    position: fixed;
    top:25vh;
    left:25vw;
    background-color: aquamarine;
    opacity: 0.75;
    animation: lightBox 1s ease-out;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    

}
@keyframes lightBox{
    40%{
        transform: scale(0.9);
    }
    70%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
#opt{
    display: flex;
gap:7rem;
cursor: pointer;

}